@import "../../styles/styles.scss";

.overlay {
  top: $titleHeight;
  height: calc(100vh - #{$titleHeight});
  width: 100%;
  z-index: 100;
  background-color: $standardText;
  opacity: 0.95;
  position: absolute;
  display: flex;
  justify-content: center;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  width: $mainWidth;
  margin-top: 39px;
}

.noResults {
  color: $white;
  @include Lato(24px);
}

.backToGame {
  color: $radioActiveGreen;
  @include Lato(14px);
  margin-top: 15px;
  cursor: pointer;
}

.resultsCount {
  @include Lato(20px);
  color: $white;
}

.gameShowcases {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}
