@import '../../styles/styles.scss';

.buttonContainer {
  background-color: $brandRed;
  border-radius: 99px;
  @include Montserrat(16px);
  color: $white;
  padding: 9px 24px;
  display: flex;
  line-height: 1.5;
  align-items: center;
  justify-content: center;
  &.disabled {
    pointer-events: none;
    background-color: $socialIcons;
  }
}
