@import '../../styles/styles.scss';

.buttonContainer {
  background-color: $radioActiveGreen;
  border-radius: 99px;
  @include Montserrat(16px);
  color: $white;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
