@import '../../styles/styles.scss';

.container {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: $white;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.5);
  width: 512px;
  height: 356px;
  border-radius: 12px;
  padding: 61px 48px 42px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include Montserrat(20px);
  color: $darkText;
  align-self: center;
  margin-bottom: 38px;
}

.fieldsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.textInput {
  @include Lato(16px);
  border: 1px solid $greyBorder2;
  width: 100%;
  border-radius: 8px;
  background-color: $white;
  color: $darkText;
  padding: 10px 18px 8px;
  &::placeholder {
    @include Lato(16px);
    color: $socialIcons;
    line-height: 1.5;
  }
}

.nameInput {
  margin-right: 32px;
}

.commentsInput {
  height: 76px;
  resize: none;
  margin-bottom: 17px;
}

.sendButton {
  cursor: pointer;
}
