@import "../../styles/styles.scss";

.outerHeaderContainer {
  background-color: $black;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 928px 1fr;
  align-items: center;
  border-bottom: 1px solid $darkText;
}

.innerHeaderContainer {
  grid-column: 2 / -2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  @include Header(24px);
  color: $white;
  text-decoration-line: none;
  display: flex;
  align-items: center;
}

.logo {
  width: 57px;
  height: 43px;
  margin-right: 10px;
}
