@import '../../Constants/styles.scss';

.iconsContainer {
  margin-top: 21px;
  display: flex;
  padding-bottom: 15px;
}

.iconContainer {
  width: 42px;
  height: 42px;
  border: 1px solid $radioActiveGreen;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.techIcon {
  color: $radioActiveGreen;
  font-size: 24px;
}

.link {
  text-decoration-line: none;
}
