.container {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  > div:nth-of-type(2) {
    margin-top: 12px;
  }
}

.paypalButton {
  background-color: #102f82;
  padding: 10px 30px;
  cursor: pointer;
}

.patreonButton {
  background-color: #f96854;
  padding: 6px 26px;
}

.patreonLink {
  height: 24px;
}

.paypal {
  object-fit: cover;
}

.paypalForm {
  display: none;
}

