@import "../../styles/styles.scss";

.outerShowcaseContainer {
  display: grid;
  grid-template-columns: 1fr 928px 1fr;
  grid-column: 1 / -1;
  background-color: $white;
}

.innerShowcaseContainer {
  grid-column: 2 / -2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  justify-content: center;
  height: calc(100vh - #{$welcomeHeight} - #{$footerHeight} - #{$titleHeight});
}

.title {
  @include Header(24px);
  font-weight: 600;
  line-height: 1.3;
  color: $black;
}

.showcasesContainer {
  margin-top: 29px;
  display: flex;
  justify-content: center;
}
