@import './src/Constants/styles.scss';

body {
  background-color: $black;
  margin: 0 !important;
}

/* tooltip styles */
:global(.react-tooltip-lite) {
  @include Lato(14px);
  background: $darkText;
  color: $white;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.24);
}

:global(.react-tooltip-lite-up-arrow) {
  border-top: 10px solid $darkText;
}
