@import '../../styles/styles.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85px;
}

.emailIcon {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.githubLink {
  text-decoration-line: none;
  font-size: 36px;
  color: $white;
}

