@import "../../styles/styles.scss";
$animationTime: 400ms;

.outerGameHeader {
  display: grid;
  grid-template-columns: 1fr 928px 1fr;
  background-color: $darkText;
  grid-column: 1 / -1;
  overflow: hidden;
  height: 120px;
  transition: height $animationTime ease-in-out;
  position: absolute;
  width: 100%;
  top: calc(100vh - 120px);
  &.collapsed {
    height: 64px;
    position: fixed;
    top: 0;
  }
  &.inFullScreen {
    height: $gameHeaderInFullScreen;
    top: calc(100vh - #{$gameHeaderInFullScreen});
  }
}

.placeHolder {
  height: 120px;
  transition: height $animationTime ease-in-out;
  &.collapsed {
    height: 66px;
  }
}

.leftSide {
  position: relative;
  width: 100%;
  height: 100%;
}

.devContainer {
  position: absolute;
  top: 50px;
  left: 0;
  transition: all $animationTime ease-in-out;
  &.collapsed {
    top: 24px;
    left: 270px;
  }
}

.ratingsContainer {
  position: absolute;
  top: 70px;
  left: 0;
  opacity: 1;
  transition: opacity $animationTime ease-in-out;
  &.collapsed {
    opacity: 0;
  }
}

.innerGameHeader {
  grid-column: 2 / -2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gameName {
  @include Header(24px);
  color: $white;
  display: inline-block;
  margin-top: 21px;
  transition: margin $animationTime ease-in-out;
  &.collapsed {
    margin-top: 16px;
  }
  &.inFullScreen {
    @include Header(18px);
    margin-top: 13px;
  }
}

.text {
  @include Text(14px);
  color: $white;
  line-height: 1.29;
  display: flex;
  align-items: center;
}

.devLink {
  margin: 0 5px;
  color: $brandRed;
  cursor: pointer;
}

.rightSide {
  width: 287px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

%actionButton {
  transition: opacity $animationTime ease-in-out;
  z-index: 2;
}

.donateButton {
  @extend %actionButton;
}

.backButton {
  @extend %actionButton;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.donateButton,
.backButton {
  &.hidden {
    opacity: 0;
    z-index: 0;
  }
}

.iconsContainer {
  display: flex;
  opacity: 1;
  position: absolute;
  left: 0;
  transition: opacity $animationTime ease-in-out;
  z-index: 1;
  &.collapsed {
    opacity: 0;
  }
}

.megaphoneIcon {
  width: 22px;
  transform: rotate(19deg);
}

.shareIcon {
  width: 18px;
}

.fullScreenText {
  @include Text(12px);
  color: $white;
  opacity: 0.5;
  display: flex;
  align-items: center;
  align-self: center;
  width: 100px;
}

.fullscreenIcon {
  fill: $white;
  width: 12px;
  height: 12px;
  margin-left: 5px;
}
